{% extends 'base.html' %}
{% block content %}
{% load i18n %}
<div style="width: 100%; padding: 10px">

    <h2>{{ site }}</h2>
    <form action="" method="get">
        <div class="input-group">
            <input name="search" type="text" class="form-control" placeholder="{% translate 'Searching ...' %}" value="{{ query }}">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
            <button class="btn btn-outline-secondary" type="reset">Reset</button>
        </div>
    </form>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th style="width: 100px">Name</th>
                    <th>Supplier</th>
                    <th style="width: 100px">Count</th>
                </tr>
            </thead>
            <tbody>
                {% for item in result %}
                <tr>
                    <th>{{ item.name }}</th>
                    <th>{{ item.supplier }}</th>
                    <th>{{ item.count }}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}